/* COLORS */
/* 
#67C2B1
#F5CE9A
#755327
#A1FFEE
#327569
*/



/* =============================================== */
/* BASIC SET UP*/
/* =============================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #ffffff;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 300;
}

a {
    text-decoration: none;
}

p { font-size: 100%;}

/* =============================================== */
/* REUSABLE COMPONENTS */
/* =============================================== */

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: start
}

.container:after {
    display: block;
    margin: 10px;
    flex: 999 999 auto;
  }

/* =============================================== */
/* HEDINGS */
/* =============================================== */

h1,
h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 280%;
}
h2 { font-size: 250%; }

h3 { font-size: 220%;}

/* =============================================== */
/* HEADER */
/* =============================================== */
header {
    background-image: linear-gradient(rgba(0 , 0 , 0 , 0.2),rgba(0 , 0, 0 , 0.2)) ,url('https://images.pexels.com/photos/683039/pexels-photo-683039.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    height: 100vh;
    max-width: 100%;
    width: auto;
    background-size: cover;
    background-position: center;
}

.header-title-box {
    position: absolute;
    top: 40%;
    left: 10%;
}

.header-title-box h1 {
    color: #67C2B1;
    font-weight: 700;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(192 , 154 , 127 , 0.4);
}

.main-nav {
    list-style: none;
    float: right;
    margin-top: 40px;
}

.main-nav li {
    display: inline;
    margin-left: 30px;
    text-transform: uppercase;

}

.main-nav li a:link,
.main-nav li a:visited {
    color: #F5CE9A;
    padding: 10px;
    transition: color 0.3s, border 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: #755327;
    border: 2px solid #F5CE9A;
    border-radius: 20px;
}

.logo {
    margin: 20px 30px;
    font-size: 300%;
}

.nav-con a:link,
.nav-con a:visited {
    color: #F5CE9A;
    transition: color 0.3s;
}

.nav-con a:hover,
.nav-con a:active {
    color: #755327;
}

.nav-con {
    margin-right: 40px;
}

.active-btn:link,
.active-btn:visited {
    color: #A1FFEE;
    padding: 8px;
    text-align: center;
    font-size: 110%;
    border: 1px solid #327569;
    border-radius: 20px;
    background-color: #327569;
    transition: color 0.3s, background-color 0.3s;
}

.active-btn:hover,
.active-btn:visited {
    color: #327569;
    background-color: #A1FFEE;
} 

 /* Animation */
@keyframes jump {
  0% { top: 85%; } 50% { top: 90%; } 100% { top: 85%; }
}

/* Button/Arrow */
.arrow-down {
    position: absolute;
    left: 50%;
    font-size: 300%;
    color: #A1FFEE;
    animation: jump 5s infinite;
}



/* =============================================== */
/* Section 1 */
/* =============================================== */

.desc-section {
    background-color: #f2f2f2;
    padding: 40px 0;
}

.desc__content {
    flex: 0 0 30%;
    margin: 6px;
}

.desc-section-img {
    display: block;
    width: 100%;
    flex: 0 0 auto;
    margin-top: 10px;
}

.my-content {
    background-color: #F5CE9A;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 12px;
    text-align: center;
}

/* =============================================== */
/* Section 2 */
/* =============================================== */
.card-gift-header {
    background-image: url(https://images.pexels.com/photos/678654/pexels-photo-678654.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    height: 230px;
    width: 100%;
    /*width: 120vw; */
    position: relative;
    background-size: cover;
    background-position: center;
}

.card-gift-header ul {
    list-style: none;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}
 

.card-gift__lia {
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    display: inline;
    margin:  20px 30px;
}

.card-gift-header__button:link,
.card-gift-header__button:visited {
    padding: 15px 100px;
    font-size: 120%;
    background-color: #F5CE9A;
    color: #755327;
    border-radius: 10px;
    box-shadow: 0 15px 30px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.4s, color 0.4s, letter-spacing 0.4s;
}

.card-gift-header__button:hover,
.card-gift-header__button:visited {
    background-color: #755327;
    color: #F5CE9A; 
    letter-spacing: 2px;
}

.card-gift-desc {
    padding: 50px;
    border-top: 8px solid #67C2B1;
    border-bottom: 8px solid #67C2B1;
    background-image: url(img/low-poly-1239778_1920.jpg);
    max-width: 100%;
    width: auto;
    background-size: cover;
    background-position: center;
}

.card-gift-desc__flex-item {
    flex: 0 0 40%;
    margin-left: 30px;
    color: #ffffff;
}

.card-gift-desc__flex-item h3 {
    margin-bottom: 35px;
    margin-top: 20px;
}

.card-gift-desc__flex-item p {
    margin-bottom: 40px;
    flex: 0 0 50%;
}

.card-gift-desc__img {
    
    flex: 0 0 auto;
    border-radius: 10px;
    box-shadow: 0 15px 30px 10px rgba(0, 0, 0, 0.3);
}

.card-gift-desc__img img {
    width: 100%;
    display: block;
}

.card-gift-desc__link {
    color: #F5CE9A;
    position: relative;
    padding: 15px;
    left: 25%;
    background-color: #327569;
}